/*=== GOOGLE FONTS ===*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*=== VARIABLES CSS ===*/
:root {
	--color-white: hsl(252, 30%, 100%);
	--color-light: hsl(252, 30%, 92%);
	--color-gray: hsl(252, 15%, 65%);
	--color-primary: hsl(352, 75%, 60%);
	--color-dark: hsl(252, 30%, 17%);

	--body-font: 'Rubik', sans-serif;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;

	--font-medium: 400;
	--font-semi-bold: 600;

	--m-0-5: .5rem;
	--m-0-75: .75rem;
	--m-1: 1rem;
	--m-1-5: 1.5rem;
	--m-2: 2rem;
	--m-2-5: 2.5rem;

	--card-padding: 1.9rem 0.95rem;

	--border-radius: 1.25rem;

	--box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/*=== main ===*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--color-light);
	color: var(--color-dark);
	line-height: 1.7;
	font-weight: var(--font-medium);	
}

img {
	max-width: 25rem;
	height: 25rem;
	border-radius: 50%;
	vertical-align: middle;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-dark);
}

h1, 
h2, 
h3 {
	font-weight: var(--font-semi-bold);
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

/*=== Contenedor ===*/
.container {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
	/*overflow: hidden;*/
	/*background-color: red;*/
}

.padd-15{
	padding-left: 15px;
	padding-right: 15px;
}
/*=== btns ===*/
.btn {
	padding: 0.75rem 2rem;
	line-height: 1;
	border-radius: var(--border-radius);
}

.btn:focus {
	outline: 0;
}

@keyframes button-push {
	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1.0);
	}
}

.btn-default {
	color: #fff;
	vertical-align: middle;
	display: inline-block;
	background-color: var(--color-primary);
	transform: perspective(1px) translateZ(0);
}

.btn-default:hover {
	animation-name: button-push;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}


/*=== Header ===*/
.header{
	width: 100%;
	background-color: var(--color-light);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.main-content {
	padding-top: var(--m-2-5);
}

/*=== Nav ===*/
.nav{
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 3rem;
}

.nav-logo{
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
	letter-spacing: 0.125rem;
	position: relative;
}

.nav-logo::after {
	position: absolute;
	content: '';
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	background-color: var(--color-primary);
	top: 56%;
	right: -0.25rem;
}

.nav-menu{
	margin-left: auto;
	transition: all 0.3s ease-in-out;
}

.nav-list{
	display: flex;
	column-gap: 3rem;
}

.nav-link {
	font-weight: var(--font-medium);
	transition: .3s;
}

.nav-link:hover{
	color: var(--color-primary);
}

.nav-btns{
	display: inline-flex;
	align-items: center;
	column-gap: 1rem;
}
.change-theme {
	font-size: 1.15rem;
	cursor: pointer;
}

.nav-toggle{
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-toggle{
	display: none;
}

/*No hace nada por el momento*/
.active-link{
	position: relative;
}

.active-link::before{
	content: '';
	position: absolute;
	bottom: -0.75rem;
	left: 45%;
	width: 0.3rem;
	height: 0.3rem;
	background-color: var(--color-primary);
	border-radius: 50%;
}
/* Se acabo lo que no hace nada*/

.home{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 100vh;
}

.home .intro{
	max-width: 540px;
	text-align: center;
}

.home .intro img{
	margin-bottom: var(--m-1);
}

.home .intro .social-icons {
	margin-top: var(--m-1-5);
	margin-bottom: var(--m-2);
}

.home .intro .social-icons li{
	display: inline-block;
}

.home .intro .social-icons li:not(:last-child){
	margin-right: var(--m-1-5);
}

.home .intro .social-icons a{
	font-size: var(--h3-font-size);
}

/*=== educacion ===*/

.educacionMain {
	background-color: var(--color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.containerEducacion {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background-color: var(--color-light);
	margin: var(--m-1-5);
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.containerEducacion .left_side {
	position: relative;
	background-color: var(--color-dark);
	padding: 25px;
}

.profiletext {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.imagebx {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profiletext .imagebx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profiletext h2{
	color: var(--color-light);
	font-size: var(--h2-font-size);
	margin-top: var(--m-2);
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profiletext h2 span{
	font-size: var(--h2-font-size);
	font-style: 300;
}

.contactInfo {
	padding-top: 40px;
}

.title {
	color: var(--color-light);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.contactInfo ul{
	position: relative;
}

.contactInfo ul li {
	position: relative;
	list-style: none;
	margin: var(--m-0-5);
	cursor: pointer;
}

.contactInfo ul li .icon {
	display: inline-block;
	width: 35px;
	font-size: var(--h3-font-size);
	color: var(--color-gray);
}

.contactInfo ul li span {
	color: var(--color-light);
	font-weight: 300;
}

.contactInfo.educacion li {
	margin-bottom: var(--m-1);
}

.contactInfo.educacion h5 {
	color: var(--color-light);
	font-weight: 500;
}

.contactInfo.educacion h4 {
	color: var(--color-light);
	font-weight: 500;
}

.contactInfo.educacion h4:nth-child(1) {
	color: var(--color-light);
	font-weight: 300;
}

.contactInfo.lenguajes .percent {
	position: relative;
	width: 100%;
	height: 6px;
	background-color: var(--color-gray);
	display: block;
	margin-top: 5px;
}

.contactInfo.lenguajes .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--color-primary);
}

.containerEducacion .right_side {
	position: relative;
	background-color: var(--color-light);
	padding: 40px;
}

.about {
	margin-bottom: var(--m-1-5);
}

.about:last-child {
	margin-bottom: 0px;
}

.title2 {
	color: var(--color-primary);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.about .box .year_company{
	min-width: 150px;
}

.about .box .year_company h5 {
	text-transform: uppercase;
	color: var(--color-gray);
	font-weight: 600;
}

.about .box .year_company h4 {
	text-transform: uppercase;
	color: var(--color-primary);
	font-size: 16px;
}

.skills .box {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}

.skills .box h4 {
	text-transform: uppercase;
	color: var(--color-gray);
	font-weight: 500;
}

.skills .box .percent {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: var(--color-primary);
}

.skills .box .percent div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--color-dark);
}

.interest ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
	list-style: none;
	color: var(--color-dark);
	font-weight: 500;
	margin: 10px 0;
}

/*=== educacion the end===*/

/*=== Blog===*/
.blog-section h1 {
	text-align: center;
	margin-bottom: var(--m-2);
	color: var(--color-primary);
}

.blog-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: var(--m-1-5);
}

.blog-card {
	background-color: var(--color-white);
	padding: var(--m-1-5);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	transition: transform 0.3s ease;
	display: block;
	color: inherit;
}

.blog-card:hover {
	transform: translateY(-5px);
}

.blog-card h3 {
	color: var(--color-primary);
	margin-bottom: var(--m-0-5);
}

.blog-card p {
	color: var(--color-gray);
	font-size: var(--small-font-size);
}

.blog-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.blog-card-footer .like i {
  color: var(--color-primary);
  margin-right: 5px;
  vertical-align: middle;
}



/*=== Blog the end===*/

/* =======================
   Responsive Design
   ======================= */

@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

  header nav a {
    display: block;
    margin: 0.5em 0;
    font-size: 1.2em;
  }
  .educacion-container {
    flex-direction: column;
    align-items: center;
  }

  .educacion-card {
    width: 90%;
    margin-bottom: 1em;
  }

  body {
    font-size: 14px;
    padding: 0.5em;
  }

  header h1 {
    font-size: 1.5em;
  }
}


/* Teléfonos */
@media screen and (max-width: 480px) {
	.nav {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.nav-menu {
		display: none;
		flex-direction: column;
		width: 100%;
		background-color: var(--color-light);
		padding: var(--m-1);
		position: absolute;
		top: 100%;
		left: 0;
	}

	.nav-menu.show {
		display: flex;
	}

	.nav-list {
		flex-direction: column;
		row-gap: var(--m-1);
	}

	.nav-toggle {
		display: block;
	}

	.blog-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: var(--m-1-5);
	}

	.educacion-container {
    	flex-direction: column;
    	align-items: center;
  	}

  	.educacion-card {
    	width: 90%;
    	margin-bottom: 1em;
  	}

  	body {
    	font-size: 14px;
    	padding: 0.5em;
  	}

  	header h1 {
    	font-size: 1.5em;
  	}
}

/*=== Dark Theme ===*/
.dark-theme {
    --color-white: hsl(252, 30%, 17%);
    --color-light: hsl(252, 30%, 12%);
    --color-gray: hsl(252, 15%, 30%);
    --color-primary: hsl(352, 75%, 60%);
    --color-dark: hsl(252, 30%, 90%);
    background-color: var(--color-light);
    color: var(--color-dark);
}

.dark-theme a {
    color: var(--color-dark);
}

.dark-theme .header,
.dark-theme .containerEducacion .right_side,
.dark-theme .containerEducacion {
    background-color: var(--color-light);
}

.dark-theme .containerEducacion .left_side {
    background-color: var(--color-dark);
}
